<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add Name="EHR_Admin.Properties.Settings.EHRConnectionString"
            connectionString="Data Source=ehrcce25.database.windows.net;Initial Catalog=EHR;User ID=EHR_Team6_Database;Password=3lo2Cce@da7i7a"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>